@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background: linear-gradient(#FBE51B, #9ADA1A);
    font-family: sans-serif;
    text-align: center;
}

#score {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: auto;
    word-spacing: 50px;
    border: solid .2em #094B88;
    border-radius: 10px;
    width: 330px;
    padding: 10px;
}

canvas {
    margin: auto;
    border: solid .2em #094B88;
    border-radius: 10px;
    height: 80vh;
}

span{
    font-weight: bold;
    border: solid .1em #094B88;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}