@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background: url('./tetris.png') no-repeat;
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#score {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: auto;
    word-spacing: 50px;
    border: solid .2em #AB10FD;
    border-radius: 10px;
    width: 330px;
    padding: 10px;
}

canvas {
    border: solid .2em #AB10FD;
    border-radius: 10px;
    height: 80vh;
}